@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #19A1AE;
    overflow: hidden;
}

.container {
    width: 350px;
    height: 374px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.50);
    z-index: 1;
    position: relative;
}

.backg {
    z-index: -1;
}

.bg {
    width: 978px;
    height: 976px;
    position: absolute;
}

.top {
    transform: rotate(-135deg);
    top: -500px;
    left: -300px;
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.00) 0.78%, #53FFEE 99.94%);
    border-radius: 978px;
    opacity: 0.5;
}

.bottom {
    right: -300px;
    bottom: -500px;
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.00) 0.78%, #53FFEE 99.94%);
    border-radius: 978px;
    opacity: 0.25;
}

.banner {
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 0;
    z-index: -2;
}

.profile img {
    width: 96px;
    height: 96px;
    border-radius: 96px;
    border: 5px solid #FFF;
    z-index: 100;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
}
h1 {
    margin-top: 24px;
    color: #2E3349;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span {
    color: #6B7082;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile p {
    margin-top: 13px;
    color: #6B7082;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    width: 350px;
    height: 1px;
    background-color: #E8E9EC;
    margin-top: 28px;
}

.statictic {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.numb {
    color: #2E3349;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.numb2 {
    margin-top: 5px;
    color: #6B7082;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}

.followers, .likes {
    margin-right: 48px;
}